{% extends "main/base.html" %}
{% load static %}
{% block title %} Game Verse - Unlock Your Game Potential!{% endblock %}

{% block body_start %}
<div id="fade-in-box" class="w-100 h-100 rounded-5 z-2 fill-blue position-fixed top-0 start-0 fade-in" style="display: none;"></div>
<div class="w-100 h-100 rounded-5 z-2 fill-blue position-fixed top-0 start-0 fade-out"></div>
{% endblock %}

{% block body_content %}
    <form action="" id="test" method="post" name="userNameForm">
      {% csrf_token %}
      <div class="col pt-2 pt-sm-0" >
        <div id="title" class="row" >
          <img src="{% static 'images/game-verse-title.png' %}" alt="game-verse-title.png">
        </div>

        <div class="form-inline my-2 card rounded-4 shadow-lg bg-custom-white bg-custom-blur1">
          <div class="form-group row card-header fs-5">
            <label for="name" class="col-md-4 col-form-label fw-bold">What is your Name?</label>
            <div class="col-md-8 ">
              <input type="text" class="form-control fs-5" name="name" id="name" placeholder="[A-Za-z0-9 ] are allowed." required>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="row">
        {% for game,background in games.items %}
        <div class="col-lg-12 col-xl-4 py-4">
          <button type="submit" name="{{game}}" value="{{game}}" style="all:initial;width:100%;">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg bg-custom-blur3"
              style="background: url('{% static background %}');background-color:transparent !important">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold f-stroke">{{game}}</h3>
              </div>
            </div>
          </button>
        </div>
        {% endfor %}
      </div>
      </div>
    </form>
    <script>
      var mouseX, mouseY;

      document.addEventListener("mousemove", (e)=>{
        mouseX = event.clientX;
        mouseY = event.clientY;
      });
      var myForm=document.getElementsByTagName("form")[0]
      myForm.onsubmit=(e)=>{
        e.preventDefault()
        document.getElementById("fade-in-box").style.transformOrigin=`${mouseX}px ${mouseY}px`
        document.getElementById("fade-in-box").style.display='block'
        let formData = new FormData(myForm); // Serialize the form data
        let submitButton = event.submitter;
        let submitButtonName = submitButton.name;
        let submitButtonValue = submitButton.value;
        formData.append(submitButtonName,submitButtonValue)
        let url;
        fetch("", {
          method: "POST",
          body: formData // Include the form data in the request body
        })
        .then(function(response){
          url=response.url;
          return response.text()
        }).
        then(function(content) {
        // Wait for the request to complete and update the DOM
        history.replaceState({"html":document.documentElement.outerHTML},"");
        history.pushState({"html":content},"", url);
        document.open();
        document.write(content);
        document.close();
      })
      .catch(function(error) {
        console.log(error)
        alert("Error loading page. Refresh and try again.")
      });
      
      }
      
    
    </script>
{% endblock %}