{% extends "main/game_base.html" %}

{% block title %}
Wordle
{% endblock %}


{% block game_name %}
Wordle
{% endblock %}


{% block content %}
<form action="./wordle" method="post" class="m-0 p-0">
  {% csrf_token %}
  <div class="row rounded-4 p-lg-4 p-2 m-lg-4 m-2 bg-custom-blue border border-light border-2 shadow fw-bold">
    <p>
      Each guess must be a valid 5-letter word.<br>
      
      The color of the tiles will change to show how close your guess was to the word.<br>
      <span  data-color="--custom-green">: means correct letter and in the correct
        spot.</span><br>
      <span  data-color="--custom-orange">: means correct letter but in the wrong
        spot.</span><br>
      <span  data-color="--custom-grey">: means incorrect letter.</span><br>
      You have 6 guesses, Answer before 5mins.<br>
    </p>
    <div class="col-12 bg-custom-cyan p-0 rounded-4 border border-primary border-1 position-relative">
      {% if not word %}
      <div id="counter321"
        class="position-absolute z-1 bg-custom-white w-100 h-100 rounded-4 d-flex justify-content-center align-items-center bg-custom-blur1 fs-1 fc-orange p-4 text-center">

        {% if success %}
        <div class="text-success">{{message}}</div>
        {% else %}
        <div class="text-danger">{{message}}</div>
        {% endif %}

      </div>
      {% endif %}
      <div class="p-2">
            
        <div id="wordle-board" class="row m-0 p-0 "></div>
           
        <div class="m-0 px-1 d-flex justify-content-between align-content-center">
          <p class="rounded-4 m-1 bg-custom-yellow w-auto p-2 align-start">
            Guesses Left: <span id="guess-left">6</span>
          </p>
          
          <p class="rounded-4 m-1 bg-custom-yellow w-auto p-2">
            Time Taken: <span id="counter-time">00</span> s
          </p>
          {% if word %}
          <script>
            let timeCounter = 0;
            if (timeCounter<300){
              let timeCounterInterval=setInterval(() => {
                document.getElementById('counter-time').innerHTML = ++timeCounter
                if (timeCounter>300){
                  clearInterval(timeCounterInterval)
                }
              }, 1000)
            }
          </script>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="row m-0 p-0 pt-4">
      <div class="col-6 p-0 m-0 d-flex justify-content-center">
        <button id="start-button" name="start" value="start" class="game-button rounded-4 game-button-red w-75 " 
        {% if word %} type="button" disabled {% else %} type="submit" {% endif %}>
          Start
        </button>
      </div>
      <div class="col-6 p-0 m-0 d-flex justify-content-center">
        <button id="submit-button" type="button" name='submit' value="submit" class="game-button rounded-4 game-button-green w-75" 
        {% if not word %} disabled {% endif %}>Submit</button>
      </div>
      

    </div>
  </div>

  
  <script>
    var startTimeCounter = 3
    document.getElementById('start-button').addEventListener("click", (e) => {
      if(startTimeCounter<=0){
        return true
      }
      e.preventDefault()
      document.getElementById('counter321').innerHTML = startTimeCounter--
      let interval=setInterval(() => {
        if (startTimeCounter<=0){
          clearInterval(interval)
          document.getElementById('start-button').click()
        }
        document.getElementById('counter321').innerHTML = startTimeCounter--
        
      }, 1000)
    })
  </script>

<script>
  var wordleBoard=document.getElementById("wordle-board")
  if(wordleBoard.children.length===0){
    let rowElement=document.createElement("div")
    rowElement.className="row m-0 p-0 justify-content-center fs-2"

    let wordleBox=document.createElement("div")
    wordleBox.className="col bg-custom-white rounded-4 border border-1 m-1 d-flex align-items-center justify-content-center"

    for(let i=0;i<5;i++){
      rowElement.appendChild(wordleBox.cloneNode(true))
      
    }

    for(let i=0;i<6;i++){
      wordleBoard.appendChild(rowElement.cloneNode(true))
    }
  }
  
</script>
{% if word %}
  <script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`
  const chatSocket = new WebSocket(url)

  let submitButton = document.getElementById("submit-button")
  submitButton.addEventListener('click', (e)=> {
      checkGuess()
  })
  </script>
  
  
  <script>
      let nextLetter=0
      let guessesRemaining=6
      let currentGuess = []
      let acceptInput=true
      function insertLetter (pressedKey) {
        if (nextLetter === 5) {
            return
        }
        let row = wordleBoard.children[6 - guessesRemaining]
        let box = row.children[nextLetter]
        box.textContent = pressedKey
        box.classList.add("bounce")
        currentGuess.push(pressedKey)
        
        nextLetter += 1
    }
    function deleteLetter () {
        let row = wordleBoard.children[6 - guessesRemaining]
        let box = row.children[nextLetter - 1]
        box.textContent = ""
        box.classList.remove("bounce")
        currentGuess.pop()
        nextLetter -= 1
    }
    function checkGuess () {
      let row = wordleBoard.children[6 - guessesRemaining]
      let guessString = ''

      for (const val of currentGuess) {
          guessString += val
      }
      if(guessesRemaining<=0 || guessString.length != 5 ||!acceptInput){
        return
      }

      acceptInput=false
      chatSocket.send(JSON.stringify({
          'guessedWord':guessString
      }))
  }
  
  chatSocket.onmessage = function(e){
      let data = JSON.parse(e.data)
      let row = wordleBoard.children[6 - guessesRemaining]
      let allCorrect=true
      if (data["refresh"]){
        console.log("Iam Here")
        window.location.reload()
        return 
      }
      data["guessedOutput"].forEach((char, index) => {
        let box = row.children[index]
        let classAdded=""
        if (char==='c'){
          classAdded="fill-green"
        }
        else if (char==='m'){
          classAdded="fill-orange"
          allCorrect=false
        }
        else{
          classAdded="fill-grey"
          allCorrect=false
        }
        box.classList.add('filled',classAdded)
      });
      
      guessesRemaining=data["guesses"]
      nextLetter=0
      currentGuess=[]
      document.getElementById("guess-left").innerHTML=guessesRemaining
      if(allCorrect || guessesRemaining===0){
        submitButton.type='submit'
        submitButton.click()
      }else{
        acceptInput=true
      }
  }
    document.addEventListener("keyup", (e) => {

    if (guessesRemaining === 0||!acceptInput) {
        return
    }

    let pressedKey = String(e.key)
    if (pressedKey === "Backspace" && nextLetter !== 0) {
        deleteLetter()
        return
    }

    if (pressedKey === "Enter") {
        checkGuess()
        return
    }

    let found = pressedKey.match(/^[a-zA-Z]$/gi)
    if (!found || found.length > 1) {
        return
    } else {
        insertLetter(pressedKey)
    }
    })
  </script>
  {% endif %}
</form>
{% endblock %}